<div>

    <section>
        <div class="hero">
            <div class="hero-content text-center">
                <div class="mask lg:w-2/3" data-aos="fade-right">
                    <h1 class="text-5xl font-bold">SEO is dead. Long live LLMO.</h1>
                    <p class="py-6 text-2xl">
                        Get your brand surfaced by ChatGPT, Perplexity, Gemini, Claude, and others.
                    </p>
                    <a class="btn btn-primary text-2xl transform hover:scale-110 transition-all duration-200" href="#get-ready-for-the-future">Tell me how!</a>
                </div>
                <div class="w-1/3 hidden lg:block" data-aos="fade-left">
                    <%= image_tag "all-the-things.png", class: "drop-shadow-2xl" %>
                </div>
            </div>
    </section>

    <section id="seo-is-dead" class="flex flex-col lg:flex-row" data-aos="fade-up" data-aos-delay="200">
        <div class="flex flex-col gap-4 lg:w-1/2">
            <h2>AI Tools are Changing the Search Landscape</h2>

            <p>Recent trends show a growing reliance on AI tools for finding information, as they offer faster, more precise, and context-aware answers compared to traditional search engines.</p>

            <p>For instance, a 2024 survey by Evercore revealed that <a class="link link-primary" href="http://archive.today/zbDbo">Google is rapidly losing market share to ChatGPT</a>. This shift reflects how users increasingly prefer AI’s ability to provide direct responses instead of navigating through a list of links.</p>


            <p>
                <a class="btn btn-primary" href="#get-ready-for-the-future">What can I do about it?</a>
            </p>
        </div>

        <div class="flex justify-center lg:w-1/2">
            <%= render partial: "landing/tweets" %>
        </div>
    </section>

    <div class="divider divider-neutral"></div>

    <section id="get-ready-for-the-future" class="flex flex-col gap-4" data-aos="fade-right">
        <h2>
            Get ready for the future
        </h2>

        <p>
            Perform our analysis on brand presence, and get <strong class="bg-secondary">actionable insights</strong> on:
        </p>

        <ul class="list-disc list-inside space-y-2 mb-4">
            <li>🙊 What ChatGPT, Gemini, Claude, Perplexity and others are saying about your brand</li>
            <li>🤺 How your brand is positioned against competitors</li>
            <li>🎨 What features about your brand are taken into account and how do you score in them against your competitors</li>
            <li>📚 What are the sources of information that LLMs are being used to build reputation in your brand space</li>
            <li>🎯 What kind of content will make your brand stand out in LLM search results</li>
        </ul>

        <p>
            <a class="btn btn-primary" href="#do-it">Let's do it!</a>
        </p>
    </section>

    <div class="divider"></div>

    <section id="do-it" class="flex flex-col">
        <%= render partial: "landing/steps" %>
    </section>

</div>