<div class="p-4 text-red-700 bg-red-100 rounded-lg dark:bg-red-800 dark:text-red-300">      
    <p class="mb-2">We encountered an error while generating your report. Please try again.</p>      
</div>