<div id="steps" class="flex flex-col justify-center items-center mb-10">
    <%= render partial: "analysis/steps", locals: { current_step: :your_website } %>
    <%= render "analysis/your_website/form", your_website: @your_website %>    
</div>