
<%= turbo_frame_tag "your_website" do %>
    <%= turbo_stream_from dom_id(@your_website) %>

    <div id="<%= dom_id(@your_website) %>">
        These is the result of your website analysis:
    </div>

    
<% end %>