
<div class="bg-white shadow-lg rounded-lg p-6 border-l-8">  
    <ul>
      <% presenter.domains.each do |domain, count| %>
        <li class="flex items-start text-zinc-800 text-sm">
          <span class="mr-2 text-primary-600">•</span>
          <%= link_to domain, domain, target: :blank %> (<%= count %>)
        </li>
      <% end %>
    </ul>  
</div>