---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=2&mkt=en&q=mejores+coches+de+segunda+mano+en+espa%C3%B1a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 0db53b769f7a4e6c96c36548ab63f39c
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-eventid:
      - 6762ddaa35bd4caa874c7db239c10011
      useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      bingapis-traceid:
      - 6762ddaa35bd4caa874c7db239c10011
      bingapis-sessionid:
      - 9D455C11EEB3497DAEA93282ABC1E523
      x-msedge-clientid:
      - 157F53F9E4FE6CF439CF46A0E55D6DE5
      x-msapi-userstate:
      - d800
      bingapis-market:
      - es-ES
      bingapis-rguid:
      - 9fe40811657a454fb1afba23b920551c
      x-search-responseinfo:
      - InternalResponseTime=352,MSDatacenter=DUBE01
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      csp-billing-usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "mejores
        coches de segunda mano en españa"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=mejores+coches+de+segunda+mano+en+espa%C3%B1a",
        "totalEstimatedMatches": 1900000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Los 10 mejores coches de segunda mano que comprar por 6.000 euros",
        "url": "https:\/\/www.caranddriver.com\/es\/coches\/planeta-motor\/a45518020\/coches-segunda-mano-mas-recomendables\/",
        "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.awM01ERIVhJaaVSKSj7x8gHaDu&w=80&h=80&c=1&pid=5.1",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.caranddriver.com\/es\/coches\/planeta-motor\/a45518020\/coches-segunda-mano-mas...",
        "snippet": "Por ello, hemos analizado todas las ofertas actuales para elaborar
        una lista con los 10 mejores coches de segunda mano que comprar por 6.000
        euros, un listado en el que aparecen modelos...", "dateLastCrawled": "2024-12-17T01:32:00.0000000Z",
        "primaryImageOfPage": {"thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.awM01ERIVhJaaVSKSj7x8gHaDu&w=80&h=80&c=1&pid=5.1",
        "width": 80, "height": 80, "sourceWidth": 474, "sourceHeight": 238, "imageId":
        "OIP.awM01ERIVhJaaVSKSj7x8gHaDu"}, "language": "es", "isNavigational": true,
        "noCache": true, "siteName": "Car and Driver"}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Los siete mejores coches de segunda mano para comprar en 2022 - AUTOBILD.ES",
        "url": "https:\/\/www.autobild.es\/noticias\/siete-mejores-coches-segunda-mano-comprar-2022-1021099",
        "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.U_cgEXJSi0Uuqtf8HvLkEQHaE7&w=80&h=80&c=1&pid=5.1",
        "datePublished": "2022-03-02T00:00:00.0000000", "datePublishedDisplayText":
        "2 de mar. de 2022", "isFamilyFriendly": true, "displayUrl": "https:\/\/www.autobild.es\/noticias\/siete-mejores-coches-segunda-mano-comprar-2022-1021099",
        "snippet": "Éstos son los siete mejores coches de segunda mano para comprar
        en 2022: modelos populares muy buscados, alternativas premium y un capricho.",
        "dateLastCrawled": "2024-12-17T02:36:00.0000000Z", "primaryImageOfPage": {"thumbnailUrl":
        "https:\/\/www.bing.com\/th?id=OIP.U_cgEXJSi0Uuqtf8HvLkEQHaE7&w=80&h=80&c=1&pid=5.1",
        "width": 80, "height": 80, "sourceWidth": 474, "sourceHeight": 315, "imageId":
        "OIP.U_cgEXJSi0Uuqtf8HvLkEQHaE7"}, "language": "es", "isNavigational": false,
        "noCache": false, "siteName": "AUTOBILD.ES"}], "someResultsRemoved": true},
        "rankingResponse": {"mainline": {"items": [{"answerType": "WebPages", "resultIndex":
        0, "value": {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0"}},
        {"answerType": "WebPages", "resultIndex": 1, "value": {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1"}}]}}}'
  recorded_at: Wed, 18 Dec 2024 14:35:22 GMT
- request:
    method: get
    uri: https://www.caranddriver.com/es/coches/planeta-motor/a45518020/coches-segunda-mano-mas-recomendables/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"fc04w3vbbg90xx"'
      x-country:
      - ES
      link:
      - "<https://googletagservices.com>; rel=preconnect, <https://api.backfires.caranddriver.com>;
        rel=preconnect, <https://securepubads.g.doubleclick.net>; rel=preconnect,
        <https://cdn.optimizely.com>; rel=preconnect, <https://adservice.google.com>;
        rel=preconnect, <https://connect.facebook.net>; rel=preconnect, <https://logx.optimizely.com>;
        rel=preconnect, <https://www.facebook.com>; rel=preconnect, <https://h.nexac.com>;
        rel=preconnect, <https://gtrk.s3.amazonaws.com>; rel=preconnect, <https://graph.facebook.com>;
        rel=preconnect, <https://hips.hearstapps.com>; rel=preconnect, <https://nexus.ensighten.com>;
        rel=preconnect, <https://www.google-analytics.com>; rel=preconnect, <https://www.googletagmanager.com>;
        rel=preconnect, <https://stats.g.doubleclick.net>; rel=preconnect, <https://www.google.com>;
        rel=preconnect, <https://tpc.googlesyndication.com>; rel=preconnect, <https://fonts.googleapis.com>;
        rel=preconnect, <https://img.vast.com>; rel=preconnect, <https://z.moatads.com>;
        rel=preconnect"
      trailer:
      - server-timing
    body:
      encoding: UTF-8
      string: '<!DOCTYPE html><html lang="es-ES"><head><meta charset="utf-8" data-next-head/><meta
        name="viewport" content="width=device-width, initial-scale=1.0" data-next-head/><meta
        name="X-UA-Compatible" http-equiv="X-UA-Compatible" content="IE=edge" data-next-head/><link
        rel="canonical" href="https://www.caranddriver.com/es/coches/planeta-motor/a45518020/coches-segunda-mano-mas-recomendables/"
        data-next-head/><meta name="msapplication-tap-highlight" content="no" data-next-head/><title
        data-next-head>Los 10 mejo[...]
{"scope":"@brand","defaults":false}],"backgroundRepeat":"no-repeat"},"position":"relative"},"model-price-wrapper-big-story-feed-column-right-image-big":{"fontSize":{"_":"font-size-12","sm\u003e":"font-size-16"}},"model-price-wrapper-big-story-feed-column-stacked-image-big":{"fontSize":{"_":"font-size-12","sm\u003e":"font-size-16"}},"title-design-element-secondary-before-noimage-big-story-feed-base":{"mr":"xs","width":"0.5625rem","height":"0.75rem","display":"inline-block","\u0026:before":{"left":"0","width":"1rem","height":"0.75rem","content":"''''","display":"inline-block","_defaults":true,"transform":"rotate(-90deg)","paddingBottom":".5rem","backgroundSize":"contain","backgroundImage":["/static/icons/Arrow-Down02.svg",{"scope":"@brand","defaults":false}],"backgroundRepeat":"no-repeat"}},"headline-senary":{"fontSize":{"lg":"font-size-28","md":"font-size-24","\u003csm":"font-size-40"},"fontFamily":"secondary","fontWeight":"bold","lineHeight":{"lg":"lineheight-base","md":"lineheight-base","\u003csm":"lineheight-base"}},"overlay-item-slide-number-portrait":{"fontSize":"font-size-13","fontFamily":"LabelPrimary","lineHeight":"lineheight-xs"},"overlay-item-slide-number-landscape":{"fontSize":"font-size-13","fontFamily":"LabelPrimary","lineHeight":"lineheight-xs"},"ad-wrapper-transporter":{"ml":{"\u003csm":"0"},"mr":{"\u003csm":"0"}}},"elevation":{"nav":"6000000","base":"0","gate":"14000000","drawer":"8000000","raised":"2000000","subnav":"4000000","sunken":"-2000000","overlay":"10000000","floating":"12000000"},"fontSizes":{"font-size-11":"0.001","font-size-12":"0.170157","font-size-13":"0.36758","font-size-14":"0.55034","font-size-15":"0.72049","font-size-16":"0.879669","font-size-17":"1.02919","font-size-18":"1.17016","font-size-19":"1.3035","font-size-20":"1.43","font-size-21":"1.55034","font-size-22":"1.66507","font-size-23":"1.7747","font-size-24":"1.87967","font-size-25":"1.98035","font-size-26":"2.07708","font-size-27":"2.17016","font-size-28":"2.25985","font-size-29":"2.3464","font-size-30":"2.43001","font-size-31":"2.51088","font-size-32":"2.58918","font-size-33":"2.66507","font-size-34":"2.7387","font-size-35":"2.81019","font-size-36":"2.87967","font-size-37":"2.94724","font-size-38":"3.01301","font-size-39":"3.07708","font-size-40":"3.13952","font-size-41":"3.20042","font-size-42":"3.25985","font-size-43":"3.31788","font-size-44":"3.37458","font-size-45":"3.43001","font-size-46":"3.48422","font-size-47":"3.53726","font-size-48":"3.58918","font-size-49":"3.64003","font-size-50":"3.68986","font-size-52":"3.78659","font-size-54":"3.87967","font-size-56":"3.96936","font-size-58":"4.05591","font-size-60":"4.13952","font-size-62":"4.22039","font-size-64":"4.29869","font-size-70":"4.5197","font-size-80":"4.84903","font-size-96":"5.29869","font-size-112":"5.67887"},"scaleRatio":1.5,"fontWeights":{"font-weight-bold":"bold","font-weight-normal":"normal","font-weight-regular":"normal"},"lineHeights":{"lg":"1.4","md":"1.3","sm":"1.2","xs":"1.1","xlg":"1.5","xxs":"1","large":"1.5","small":"1.2","medium":"1.3","normal":{"size":"10","minLinePadding":"5","roundToNearestHalfLine":"false"},"lineheight-lg":"1.4","lineheight-md":"1.3","lineheight-sm":"1.2","lineheight-xs":"1.1","lineheight-max":"2","lineheight-xlg":"1.5","lineheight-base":"1","lineheight-xxlg":"1.6","lineheight-xxxlg":"1.8","lineheight-xsmall":"0.9","lineheight-xxsmall":"0.8"},"borderWidths":{"thin":"0.0625rem","thick":"0.3125rem","medium":"0.19rem","border-m":"0.3125rem","border-s":"0.19rem","border-lg":"0.625rem","border-ml":"0.375rem","border-xs":"0.125rem","border-mlg":"0.5rem","border-xxs":"0.0625rem","border-none":"0"},"fontFamilies":{"Inter":{"src":["static/fonts/inter-v3-latin-regular.woff2",{"defaults":false}],"variants":{"weight:700":{"src":"static/fonts/inter-v3-latin-700.woff2"}}},"Charter":{"src":["static/fonts/e38fddd1-89a4-4995-9f7f-3c701b2e62f1.woff2",{"defaults":false}],"variants":{"weight:bold":{"src":"static/fonts/74c2aebb-af4a-4c7d-a7f5-2db2c73334eb.woff2"},"style:italic":{"src":"static/fonts/e4fc2e26-0ce1-4e6c-bb35-330c133f041c.woff2"}}},"CharterBold":{"src":["static/fonts/74c2aebb-af4a-4c7d-a7f5-2db2c73334eb.woff2",{"defaults":false}],"variants":{"style:italic":{"src":"static/fonts/8d8c24cd-7112-47d5-9f8d-a9063ad51341.woff2"}}},"Ionic":{"src":["static/fonts/IonicNo5-Black.woff2"],"variants":{"style:italic":{"src":"static/fonts/IonicNo5-BlackItalic.woff2"}}},"Swiss":{"src":["static/fonts/Swiss721BT-Condensed.woff2"],"variants":{"weight:bold":{"src":"static/fonts/Swiss721BT-BoldCondensed.woff2"},"style:italic":{"src":"static/fonts/Swiss721BT-ItalicCondensed.woff2"}}},"NeueHaas":{"src":["static/fonts/NeueHaasGroteskText65Medium_normal_normal.woff2"],"variants":{"weight:bold":{"src":"static/fonts/NHaasGroteskDSPro-75Bd.woff2"},"style:italic":{"src":"static/fonts/NeueHaasGroteskText66MediumItalic_italic_normal.woff2"}}}},"fontSettings":{"base":"0.7"},"letterSpacings":{"letter-spacing-1":"0.0075rem","letter-spacing-2":"0.015rem","letter-spacing-3":"0.0225rem","letter-spacing-4":"0.03rem","letter-spacing-5":"0.0375rem","letter-spacing-6":"0.045rem","letter-spacing-8":"0.06rem","letter-spacing-10":"0.075rem","letter-spacing-20":"0.15rem","letter-spacing-30":"0.3rem","letter-spacing-40":"0.4rem","letter-spacing-n1":"-0.0075rem","letter-spacing-n2":"-0.015rem","letter-spacing-n3":"-0.0225rem","letter-spacing-n4":"-0.03rem","letter-spacing-n5":"-0.0375rem","letter-spacing-n6":"-0.045rem","letter-spacing-n8":"-0.06rem","letter-spacing-n10":"-0.075rem","letter-spacing-n48":"-0.15rem","letter-spacing-n60":"-0.188rem","letter-spacing-n80":"-0.25rem","letter-spacing-base":"0"}}}]},"lang_tag":"es-ES","displayType":"standard-article","layoutContextProps":{"siteData":{"bookmarksConfig":{},"brand":{"name":"Car
        and Driver","slug":"caranddriver"},"locale":{"country":"ES","name":"Spain"},"metadata":{"adConfig":{"bu":"HMIES","site":"caranddriveres","zone":"/36117602/hmies-caranddriverthef1/","bidders":{"IX":{"d":{"ga":"670316","gb":"670320","la":"670315","lb":"670321","brk":"670318","garb":"670317","brkrr":"670319"},"m":{"ga":"670322","gb":"670323","lb":"670325","adh":"670326","brk":"670324"},"v":"942446"},"APN":{"d":{"ga":"11602099","gb":"11602101","la":"11602079","lb":"11602100","brk":"16204995","brkrr":"16204996"},"m":{"ga":"11602102","gb":"11602103","lb":"11602115","brk":"16204998"},"v":"23598823"},"MAG":{"d":{"ga":"3087862","gb":"3087862","la":"3087862","lb":"3087862","brk":"3087862","garb":"3087862","brkrr":"3087862"},"m":{"ga":"3087862","gb":"3087862","lb":"3087862","adh":"3087862","brk":"3087862"},"v":"3093172","siteId":"514332","accountId":"11636"},"TDS":{"d":{"tdsArt":"119813","tdsBrk":"119907"},"m":{"tdsArt":"119907"},"pageId":"110200","pageIdDesktop300":"115678"},"TPL":{"d":{"ga":"caranddriver_templated_300x400_atf_PB","gb":"caranddriver_templated_300x400_btf_PB","lb":"caranddriver_970x250_btf_PB","brkrr":"caranddriver_templated_300x400_breaker_PB","la728":"caranddriver_728x90_HDX_PB","la970":"caranddriver_970x250_PB"},"m":{"ga":"caranddriver_templated_300x250_flex_atf_m_PB","lb":"caranddriver_templated_300x250_flex_btf_m_PB","brk":"caranddriver_templated_300x250_flex_breaker_m_PB"},"v":"CarandDriverSpain_Spain_Outstream_PB"},"TTD":{"d":{"ttd":"desktop"},"m":{"ttd":"mobile"},"v":"video","siteId":"hmies-caranddriver","supplySourceId":"hearstmagazines"},"AMZN":"3049"},"modules":{"ias":{"pubId":"931691"},"meta":{"id":"690796760981964","cur":"EUR"},"marfeel":{"accountId":"4532"},"comscore":{"c2":11398592},"sailthru":{"ids":{"feature":"85e5a90200d469ae9534d817868e2838","production":"1fbe9a41a19a7b85a4eace26603488f7"}},"permutive":{"apiKey":"d3f6eeca-1f6f-4d45-92c2-5e7f95b12b3a","locale":"ES","currency":"EUR","workspaceId":"cb464016-b8d0-471e-a51d-af2461e7d84b"},"googleAnalytics":{"measurementId":"G-RYBF9G9YGD"}},"adBundle":[],"settings":{"mobileStickyAds":true,"enableVerityTags":true},"siteList":["www.caranddriver.com"]},"alternate_display_name":"","ciam":{"loginURL":"https://www.mylo.id"},"commerce":{"affiliate":{"url":"https://assets.hearstapps.com/commerce/release/affiliate-bundle.master.js","amazon":{"market":"MAG-ES","default":{"tag":"caranddriveryf1-21"}},"skimlinks":{"market":"MAG-ES","default":{"url":"//s.skimresources.com/js/86370X1598422.skimlinks.js"}},"trackonomics":{"cipd2":"cades"}}},"copyright":"Hearst
        España S.L. Todos los derechos sobre las marcas, imágenes y contenidos están
        protegidos.","domain":"caranddriver.com","icxSiteId":"1969","networkName":"Hearst
        Editorial","networkTagLine":"Car and Driver, marca perteneciente al grupo
        Hearst Magazines International","oneTrustDomainId":"86b59c72-580c-43b6-b932-499ed69eb103","payWallSchema":{"freeTags":["most-popular"]},"privacyStatement":"http://www.hearst.es/aviso-de-privacidad","scope":"autos","siteAcronym":"CAD","social":{"networks":{"x":{"socialUrl":"https://twitter.com/car_and_driver"},"line":[],"qzone":[],"weibo":[],"douyin":[],"tumblr":[],"twitter":{"handle":"@car_and_driver","socialUrl":"https://twitter.com/car_and_driver"},"youtube":{"socialUrl":"https://www.youtube.com/user/caranddrivertv"},"facebook":{"appId":"287277750191","socialUrl":"https://www.facebook.com/caranddriver.es/"},"instagram":{"socialUrl":"https://www.instagram.com/car_and_driver_spain/"},"pinterest":[],"googleplus":{"webmasterTools":"jMbi9QBxy_f9ThKkzPD_5W9p1zGt8TdgnpsI2AH9uLE"}}}}},"canonicalUrl":"https://www.caranddriver.com/es/coches/planeta-motor/a45518020/coches-segunda-mano-mas-recomendables/","config_ds":{"nav_links":{"primary":{"url":"https://suscripciones.hearst.es/mh/motor/car--driver","title":"Suscríbete","new_tab":true,"nofollow":false},"secondary":{"url":"https://cb.sailthru.com/join/7qz/cd-signup??utm_source=caranddriver.es\u0026utm_medium=referral\u0026utm_campaign=registro_newsletter_desdepaginaweb","title":"Newsletter","new_tab":false,"dropdown":false,"nofollow":false}},"contentPass":{"id":"86f1982b","cnameDNS":"https://cp.caranddriver.com"}},"isAdsFree":false,"isCDN":true,"isGDPR":true,"isHomePage":false,"isLoggedIn":false,"isUSUserLocation":false,"menuItems":[{"title":"Footer","children":[{"id":"b205ce71-2460-470a-a88f-c3e0e2a66aff","title":"Contacto","url":"/es/informacion/a27908959/contacto/","new_tab":false,"nofollow":true},{"id":"9e3f805d-6ce6-4e7e-a3d4-84b9d603cb42","title":"Newsletter","url":"https://cb.sailthru.com/join/7qz/cd-signup??utm_source=caranddriver.es\u0026utm_medium=referral\u0026utm_campaign=footer","new_tab":false,"nofollow":true},{"id":"a186c198-205b-4c18-8d68-abf9dfdf9212","title":"Hearst
        España","url":"http://www.hearst.es/","new_tab":false,"nofoll[...]
{"scope":"caranddriver","hash":"02aa5c3","metadata":{}},"10793083781737108332":[...]
{"scope":"caranddriver","hash":"651c6ef","metadata":{"fallbacks":{"mobile":{"fallbackFont":"Roboto","sizeAdjust":["107.22%","111.07%"],"ascentOverride":["92.14%","88.95%"],"descentOverride":["23.78%","22.96%"]},"sansSerif":{"fallbackFont":"Arial","sizeAdjust":["107.55%","102.91%"],"ascentOverride":["91.87%","96.00%"],"descentOverride":["23.71%","24.78%"]},"serif":{"fallbackFont":"Georgia","sizeAdjust":["108.26%","103.49%"],"ascentOverride":["91.27%","95.46%"],"descentOverride":["23.56%","24.64%"]}}}},"2141149703605561327":[...]
{"scope":"fre","hash":"f282b14","metadata":{}}},"manifestUrl":"https://static-assets.hearstapps.com/design-tokens/manifest.json"},"flags":{"content-editor.enable-repositioned-disclaimer":0,"content-editor.enable-custom-header":0,"self-hosted.affiliate.enabled":1,"fre.commerce.use-affiliate_url":1,"fre.jam-journey.enable-billboard":0,"fre.content.article-action-toolbar":"(NOT_SET)","fre.autos.lotlinx-module":"(NOT_SET)","ecommerce.enable-embedded-experience":"(NOT_SET)","content-editor.toggles.hide-affiliate-disclaimer":1,"enable-modular-layout":0,"fre.content.enable-privacy-disclaimer":"(NOT_SET)","cover-stories":1,"seo.syndicated-content.no-noindex":1,"seo.block-meta-ai-crawler":1,"ecommerce.load-pulse-script":"(NOT_SET)","fre.piano.int":"(NOT_SET)","content-pass.enable":1,"enable-sso":0,"enable-google-one-tap":"(NOT_SET)","enable-microsoft-quick-auth":"(NOT_SET)","display-search":1,"fre.show-magnifying-glass-icon-only":"(NOT_SET)","location-choice":"(NOT_SET)","fre.location-choice.display-generic-title":1,"fre.do-not-sell-link":0,"search.fre.display-top-navigation":0,"fre.top-navigation.gift-lab":"(NOT_SET)","fre.piano.login":"(NOT_SET)","fre.enable-jam-journey":0,"fre.jam-journey.enable-top-slim-banner":1,"enable-top-touts":1,"show-updated-timestamp":1,"fre.seogra.breadcrumbs":1,"seo.display-publish-date-timezone":0,"seo.display-publish-date-timezone-all":0,"seo.developed-by-expert-byline":0,"fre.seogra.breadcrumbs-with-collections":0,"content-editor.disable-author-photo":"(NOT_SET)","fre.enable-author-flyout":1,"fre.sharing-component":0,"fre.enable-my-stuff":0,"fre.disable-bookmark-subscription-modal":"(NOT_SET)","fre.enable-content-save-categorization":"(NOT_SET)","paywall.schema":0,"video.enable-glimmer":1,"content-editor.gallery.multi-retailer.enabled":0,"content-editor.1x1-lead-image-crop":0,"fre.enable-fastly-image":0,"fre.piano.hosted-content-module":"(NOT_SET)","fre.piano.cXense":"(NOT_SET)","video.watch-next-in-body":1,"video.watch-next.recipes":0,"video.watch-next-in-body-listicle":0,"fre.jam-journey.enable-email-captures":0,"Display-nutrition-data":0,"video.sticky-player-mobile":1,"video.sticky-player":1,"video.use-video-player-two":0,"enable-watch-more-recirc-button":0,"video.video-hub-nextfre":0,"seo.enable-resizing-poster-images":0,"custom-feeds.block-head-image":0,"video.priority-to-use-preview-image":"(NOT_SET)","new-nav":1,"fre.cds.enable-paywall":0,"fre.piano.enable-paywall":0,"fre.jam-journey.enable-modals":0,"fre.jam-journey.enable-meters":0,"fre.jam-journey.enable-post-registration-modals":0,"mobile-adhesion-unit":0,"content-editor.content-body.preview-blocker":0},"lazy":{"P0-0":[[2345]],"P0-1":[[98119]],"P0-2":[[64021],2],"P0-3":[[14210]],"P0-4":[[93548]],"P0-5":[[47246]],"P0-6":[[46441,16217,64512,98628]],"P0-10":[[50159]],"P0-11":[[87285]],"P0-12":[[39681]],"P0-13":[[83087,50159]],"P0-14":[[83087,50159]],"P0-15":[[83087,50159]],"P0-16":[[83087,50159]],"P0-17":[[83087,50159]],"P0-18":[[83087,50159]],"P0-19":[[83087,50159]],"P0-20":[[83087,50159]],"P0-21":[[83087,50159]],"P0-22":[[83087,50159]],"P0-23":[[15042,38768,40588,40098]],"P0-24":[[29624,38469,15265,6979]],"P0-25":[[33532]]},"translations":{"app":{"ad-breaker-text-main":"Publicidad
        - Sigue leyendo debajo"},"common":{"and":"y","close":"Cerrar","cookie_choices":"Ajuste
        de Cookies","do_not_sell_info_footer":"Your Privacy Choices: Opt Out of Sale/Targeted
        Ads","do_not_sell_info_sidepanel":"Your Privacy Choices","login":"sign in","myAccountSlug":"my-account","other_editions":"Otras
        Ediciones","privacyNotice":"Aviso de privacidad","published":"Publicado: ","sidepanel":"Side
        Panel","search":"Buscar","skipToContent":"Skip to Content","termsOfUse":"Términos
        de uso","updated":"Actualizado: ","spain":"España"},"content":{"affiliate-disclosure-footer":"{brandName}
        participa en varios programas de afiliación de marketing, lo que significa
        que {brandName} recibe comisiones de las compras hechas a través de los links
        a sitios de los vendedores.","image":{"fallback-alt":"This is an image"},"jumpToProduct":"Ir
        a Productos","watchNext":"VER VÍDEO","watchNextInBody":"MÁS VÍDEOS DE {brandName}","watchNextInBodyButton":"Watch
        Full Video","readFullBio":"Ver bio completa","why-trust-us":"Why Trust Us?","enhancedBylines":{},"contentPassLogIn":"Iniciar
        Sesión en Content Pass","contentPassLogOut":"Abandonar sesión en Content Pass"},"date":{"format":"DD/MM/YYYY"}}}}},"page":"/_templates/standard-article","query":{},"buildId":"939ea63961","assetPrefix":"/_assets/fre/scopes/hdm","runtimeConfig":{"APP_ENVIRONMENT":"production","APP_VERSION":"0.12.19","DEFAULT_FETCH_TIMEOUT":"2000","RUNTIME_INSURANCE_PUBLISHER_KEY":"dGVk90VVSURz","RUNTIME_INSURANCE_ADUNIT_KEY":"jAgnNJlb","RUNTIME_TRADE_TOOL_APP_URL":"https://app.blackbookinformation.com","RUNTIME_USE_SENTRY":"1","RUNTIME_RESIN_ASSETS_URL":"https://cdsshopprod-assets.resin.com","RUNTIME_ENABLE_RECAPTCHA":"true","RUNTIME_OPEN_WEB_ENABLED":"1","RUNTIME_PUBLIC_IMAGE_HOSTNAME":"https://hips.hearstapps.com/hmg-prod","RUNTIME_MICROSOFT_AUTH_CLIENT_ID":"952b8b0a-eccb-4fa4-90ca-13796e19166f","RUNTIME_GLIMMER_BUNDLE_FILE":"player.js","RUNTIME_GRAPHQL_TIMEOUT":"12000","RUNTIME_SPEEDCURVE_URL":"https://cdn.speedcurve.com/js/lux.js?id=231332287","RUNTIME_PAYMENT_CAPTURE_SCRIPT_URL":"https://paymentcapture.resin.com/v1/payment-capture.js","RUNTIME_RECAPTCHA_KEY":"6LcygTohAAAAALJc9PUf8gwQA5bdSdXK34HDB_5l","RUNTIME_SLIDES_PER_PAGE_OVERLAY":"10","RUNTIME_NITEHAWK_URL":"https://nitehawk.hearst.io","RUNTIME_INSURANCE_API_URL":"https://api.trvmarketplace.com/click/v1/auto","RUNTIME_TRADE_TOOL_SCRIPT_URL":"https://app.blackbookinformation.com/app/shopping-tools-js/v1.js","RUNTIME_GRAPHQL_URL":"https://heimdall.hearstapps.com","RUNTIME_SLIDES_PER_PAGE_LIST":"30","RUNTIME_ORDER_INTAKE_URL":"https://api.resin.com/orders","RUNTIME_TCF_API_TIMEOUT":"2000","RUNTIME_BUY_SUB_URL":"https://optout.hearstmags.com/servlet/OrdersGateway?cds_mag_code=A99\u0026amp;cds_page_id=246801","RUNTIME_PUBLIC_FILE_HOSTNAME":"https://hmg-h-cdn.hearstapps.com","RUNTIME_CIAM_AUTH_URLS":"https://auth.mylo.id","RUNTIME_GLIMMER_BUNDLE_PATH":"8.91.0","RUNTIME_RUFUS_HOSTNAME":"https://preferencecenter.hearstmags.com","RUNTIME_JOKER_URL":"https://joker.hearstgames.com","RUNTIME_INSURANCE_LICENSE_KEY":"afb7f38f-6470-445f-b583-28ae8e1ed325","RUNTIME_TRADE_TOOL_DEALER_ID":"0441002","RUNTIME_CIAM_UI_URLS":"https://www.mylo.id","RUNTIME_GLIMMER_BUNDLE_PREFIX":"/_assets/glimmer","RUNTIME_VIDEO_PLAYER_URL":"https://glimmer.hearstapps.com","RUNTIME_CIAM_DATA_URL":"https://ciam-data.cdsshopprod.cdsglobalapps.com/graphql","RUNTIME_GRAPHQL_TIMEOUT_FEED":"20000","RUNTIME_TRUECAR_SHOPPING_URL":"https://shopping.caranddriver.com","RUNTIME_RIDDLER_GAME_URL":"https://riddler.hearstgames.com","RUNTIME_GOOGLE_AUTH_CLIENT_ID":"966691262229-s6tftim27cpahri78teloejj82ms26hh.apps.googleusercontent.com","RUNTIME_SLIDES_PER_PAGE_GRID":"5","RUNTIME_JAM_SCRIPT_URL":"https://jam.hearstapps.com","RUNTIME_PRODUCTS_TIMEOUT":"30000","RUNTIME_CUSTOM_EVENT_DISPATCHER_URL":"https://oply.hearstapps.com/v1/events","RUNTIME_PUBLIC_IMAGE_DOMAIN":"https://hips.hearstapps.com","RUNTIME_MEDIA_GATEWAY_URL":"https://media.hearstapps.com","RUNTIME_INSURANCE_PANEL_ADUNIT_KEY":"DuS9oM6s","RUNTIME_PRODUCTS_URL":"https://products.hearstapps.com","RUNTIME_CONCORDE_URL":"https://search.hearstapps.com","RUNTIME_GRAPHQL_TOKEN":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Imp3dF9zZWNyZXRfZnJlIn0.e30.wlF-prqbR7gQ28qeFJrGOTKcct5p5jzNfrO6NBcc7C8","RUNTIME_AFFILIATE_BUNDLE_VERSION":"8.3.49","RUNTIME_CARS_FOR_SALE_MODULE_URL":"/inventory","RUNTIME_LIVE_STREAM_URL":"https://player.vimeo.com/video/","RUNTIME_LIVE_STREAM_CHAT":"https://vimeo.com/live-chat/","RUNTIME_VIMEO_STREAM_URL":"https://vimeo.com/event/","RUNTIME_THEME_SLUG":"","RUNTIME_NEXT_LAZY":""},"isFallback":false,"isExperimentalCompile":false,"dynamicIds":[46058,92688,97165,69194,22653,29322,31666,67112],"gssp":true,"scriptLoader":[]}</script><script
        id="build-manifest">window.__BUILD_MANIFEST_CB=function(){return new Promise(((e,n)=>{document.body.appendChild(Object.assign(document.createElement("script"),{src:"/_assets/fre/scopes/hdm/_next/static/939ea63961/_buildManifest.js",onload:e,onerror:n}))}))};</script><script
        type="text/javascript" id="font-loader">(()=>{const e=navigator?.connection?.effectiveType;if(e&&"4g"!==e)return;const{search:n}=window.location;if(n.includes("disableFonts"))return;const
        t=document,o=()=>{const e=t.getElementById("deferred-fonts");e&&(e.media="all")};"interactive"===document.readyState?o():window.addEventListener("DOMContentLoaded",o)})();</script></body></html>'
  recorded_at: Wed, 18 Dec 2024 14:35:22 GMT
- request:
    method: get
    uri: https://www.autobild.es/noticias/siete-mejores-coches-segunda-mano-comprar-2022-1021099
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"iunso4pu9422rd"'
      tp-cache:
      - miss
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html><html lang="es"><head><meta charSet="utf-8"/><link rel="dns-prefetch" href="https://cdn.autobild.es"/><link rel="dns-prefetch" href="https://sdk.privacy-center.org"/><link rel="dns-prefetch" href="https://www.googletagmanager.com"/><link rel="dns-prefetch" href="https://www.googletagservices.com"/><link rel="dns-prefetch" href="https://c.amazon-adsystem.com"/><link rel="dns-prefetch" href="https://securepubads.[...]
