---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=4&mkt=de&q=safe+cars+for+women+over+45
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 0db53b769f7a4e6c96c36548ab63f39c
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-eventid:
      - 6762dda953084e5d8ec73b459ce9c057
      useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      bingapis-traceid:
      - 6762dda953084e5d8ec73b459ce9c057
      bingapis-sessionid:
      - 63189309049A475F842941CF8A568E19
      x-msedge-clientid:
      - 024F8C1E86E269D120339947870F6849
      x-msapi-userstate:
      - b013
      bingapis-market:
      - es-ES
      bingapis-rguid:
      - 9bf4d14e00a047bfb66e26ea272b172b
      x-search-responseinfo:
      - InternalResponseTime=336,MSDatacenter=DUBE01
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      csp-billing-usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: UTF-8
      string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"originalQuery\":
        \"safe cars for women over 45\"}, \"webPages\": {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=safe+cars+for+women+over+45\",
        \"totalEstimatedMatches\": 1680000, \"value\": [{\"id\": \"https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.0\",
        \"name\": \"Best cars for older drivers - Age Co\", \"url\": \"https:\\/\\/www.ageco.co.uk\\/useful-articles\\/car\\/best-cars-for-older-drivers\\/\",
        \"thumbnailUrl\": \"https:\\/\\/www.bing.com\\/th?id=OIP.CZGECtr8p6ZTC35rhEspEQHaEK&w=80&h=80&c=1&pid=5.1\",
        \"isFamilyFriendly\": true, \"displayUrl\": \"https:\\/\\/www.ageco.co.uk\\/useful-articles\\/car\\/best-cars-for-older-drivers\",
        \"snippet\": \"Some of the safest cars tested in 2021 include: Mercedes-EQEQS;
        Skoda ENYAQ iV; Skoda Fabia; Nissan Qashqai Assistance features. Assistance
        technology on modern vehicles can make your car much more user-friendly, helping
        with everything from parking to navigation to driving in the dark.\", \"dateLastCrawled\":
        \"2024-12-16T19:18:00.0000000Z\", \"primaryImageOfPage\": {\"thumbnailUrl\":
        \"https:\\/\\/www.bing.com\\/th?id=OIP.CZGECtr8p6ZTC35rhEspEQHaEK&w=80&h=80&c=1&pid=5.1\",
        \"width\": 80, \"height\": 80, \"sourceWidth\": 474, \"sourceHeight\": 266,
        \"imageId\": \"OIP.CZGECtr8p6ZTC35rhEspEQHaEK\"}, \"language\": \"en\", \"isNavigational\":
        false, \"noCache\": false, \"siteName\": \"Age Co\"}, {\"id\": \"https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.1\",
        \"name\": \"Choosing the Best Cars for Senior Women: A Complete Guide\", \"url\":
        \"https:\\/\\/yourmoneymetrics.com\\/articles\\/best-cars-for-senior-women\\/\",
        \"isFamilyFriendly\": true, \"displayUrl\": \"https:\\/\\/yourmoneymetrics.com\\/articles\\/best-cars-for-senior-women\",
        \"snippet\": \"Explore essential car selection tips for senior women. Prioritize
        safety \U0001F697, comfort, and affordability while discovering top models
        that fit your needs.\", \"dateLastCrawled\": \"2024-12-12T06:11:00.0000000Z\",
        \"language\": \"en\", \"isNavigational\": false, \"noCache\": false}, {\"id\":
        \"https:\\/\\/api.bing.microsoft.com\\/api\\/v7\\/#WebPages.2\", \"name\":
        \"Best Cars for Seniors in 2022: Terrific Options for Older Drivers\", \"url\":
        \"https:\\/\\/www.greatseniorliving.com\\/articles\\/best-cars-for-seniors\",
        \"thumbnailUrl\": \"https:\\/\\/www.bing.com\\/th?id=OIP.hAsef8cjBSRDDFaMH8XgSgAAAA&w=80&h=80&c=1&pid=5.1\",
        \"datePublished\": \"2022-10-25T00:00:00.0000000\", \"datePublishedDisplayText\":
        \"25 de oct. de 2022\", \"isFamilyFriendly\": true, \"displayUrl\": \"https:\\/\\/www.greatseniorliving.com\\/articles\\/best-cars-for-seniors\",
        \"snippet\": \"Discover the best cars for seniors that are available today.
        Learn about the differences between sedans and SUVs and why you might prefer
        one over the other. Explore senior-friendly features you may want your next
        vehicle to have. And check out more than two dozen of the best models for
        20[...]
