---
http_interactions:
- request:
    method: get
    uri: https://api.bing.microsoft.com/v7.0/search?count=4&mkt=de&q=safe%20cars%20for%20women%20over%2045
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - 0db53b769f7a4e6c96c36548ab63f39c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Eventid:
      - 674594287c3c4662b5563662c56f79b5
      Useragentreductionoptout:
      - A7kgTC5xdZ2WIVGZEfb1hUoNuvjzOZX3VIV/BA6C18kQOOF50Q0D3oWoAm49k3BQImkujKILc7JmPysWk3CSjwUAAACMeyJvcmlnaW4iOiJodHRwczovL3d3dy5iaW5nLmNvbTo0NDMiLCJmZWF0dXJlIjoiU2VuZEZ1bGxVc2VyQWdlbnRBZnRlclJlZHVjdGlvbiIsImV4cGlyeSI6MTY4NDg4NjM5OSwiaXNTdWJkb21haW4iOnRydWUsImlzVGhpcmRQYXJ0eSI6dHJ1ZX0=
      Bingapis-Traceid:
      - 674594287c3c4662b5563662c56f79b5
      Bingapis-Sessionid:
      - 9DFD28641FC946CAAA168DC7862B7821
      X-Msedge-Clientid:
      - 120884277C066B62354A91647DAA6AE1
      X-Msapi-Userstate:
      - 94c1
      Bingapis-Market:
      - es-ES
      Bingapis-Rguid:
      - 83e157b38437400993197923cedd07ae
      X-Search-Responseinfo:
      - InternalResponseTime=342,MSDatacenter=DUBE01
      Accept-Ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Mobile,Sec-CH-UA-Model,Sec-CH-UA-Platform,Sec-CH-UA-Platform-Version
      Csp-Billing-Usage:
      - CognitiveServices.BingSearchV7.Transaction=1
    body:
      encoding: ASCII-8BIT
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": "safe
        cars for women over 45"}, "webPages": {"webSearchUrl": "https:\/\/www.bing.com\/search?q=safe+cars+for+women+over+45",
        "totalEstimatedMatches": 1350000, "value": [{"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Best Cars for Older Drivers in 2024 | U.S. News - U.S. News & World
        Report", "url": "https:\/\/cars.usnews.com\/cars-trucks\/advice\/best-cars-for-older-drivers",
        "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.tzJ3fQrCyi_MGHbdVyC4_QHaE8&w=80&h=80&c=1&pid=5.1",
        "datePublished": "2024-06-03T00:00:00.0000000", "datePublishedDisplayText":
        "3 de jun. de 2024", "isFamilyFriendly": true, "displayUrl": "https:\/\/cars.usnews.com\/cars-trucks\/advice\/best-cars-for-older-drivers",
        "snippet": "Today''s cars are safer than ever, and some models earn safety
        scores that are well above average. These are the safest new cars you can
        buy or lease today.", "dateLastCrawled": "2024-11-25T12:09:00.0000000Z", "primaryImageOfPage":
        {"thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.tzJ3fQrCyi_MGHbdVyC4_QHaE8&w=80&h=80&c=1&pid=5.1",
        "width": 80, "height": 80, "sourceWidth": 474, "sourceHeight": 316, "imageId":
        "OIP.tzJ3fQrCyi_MGHbdVyC4_QHaE8"}, "cachedPageUrl": "http:\/\/cc.bingj.com\/cache.aspx?q=safe+cars+for+women+over+45&d=4680346605981083&mkt=es-ES&setlang=es-ES&w=rTdzaUide_5QYAcX_axRiTtur7R3C5yi",
        "language": "en", "isNavigational": true, "noCache": false, "siteName": "U.S.
        News & World Report"}, {"id": "https:\/\/api.bing.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Best cars for older drivers - Age Co", "url": "https:\/\/www.ageco.co.uk\/useful-articles\/car\/best-cars-for-older-drivers\/",
        "thumbnailUrl": "https:\/\/www.bing.com\/th?id=OIP.CZGECtr8p6ZTC35rhEspEQHaEK&w=80&h=80&c=1&pid=5.1",
        "isFamilyFriendly": true, "displayUrl": "https:\/\/www.ageco.co.uk\/useful-articles\/car\/best-cars-for-older-drivers",
        "snipp[...]
