@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}
*/

@layer base {
    label {
        @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
    }

    input,
    textarea {
        @apply rounded-md text-sm text-gray-900 bg-gray-50 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    textarea {
        @apply block p-2.5 w-full;
    }

    select {
        @apply w-auto bg-gray-50 border-x-0 border-gray-300 h-11 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block py-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }

    p {
        @apply text-base text-gray-900 dark:text-gray-100;
    }

    h1 {
        @apply text-4xl font-bold text-gray-900 dark:text-white mb-4;
    }

    h2 {
        @apply text-3xl font-bold text-gray-900 dark:text-white mb-3;
    }

    h3 {
        @apply text-2xl font-semibold text-gray-900 dark:text-white mb-2;
    }

    h4 {
        @apply text-xl font-semibold text-gray-900 dark:text-white mb-2;
    }

    h5 {
        @apply text-lg font-medium text-gray-900 dark:text-white mb-1;
    }

    h6 {
        @apply text-base font-medium text-gray-900 dark:text-white mb-1;
    }

    a {
        @apply text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300;
    }
}

@layer components {
    .btn {
        @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-4 focus:outline-none;

        &.primary {
            @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
        }
    }
    /* 
    .report {
        @apply prose w-auto mx-auto pb-4;

        strong {
            @apply text-gray-900 dark:text-white;
        }

        .table,
        tr, 
        th,
        td {
            @apply p-2 w-auto;
        }
    } */

    .centered-container {
        @apply max-w-xl px-2 mx-auto xl:mx-0 space-y-4;
    }

    #error_explanation {
        @apply p-4;

        h2 {
            @apply mt-0 pl-0 text-lg font-semibold bg-red-50 text-red-500 px-3 py-2 rounded-lg;
        }
    }

    form {
        .field_with_errors {
            @apply animate-[shake_0.5s_ease-in-out];

            input,
            textarea {
                @apply border-red-500;
            }
        }
    }

    @keyframes shake {
        0%,
        100% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-5px);
        }
        40% {
            transform: translateX(5px);
        }
        60% {
            transform: translateX(-3px);
        }
        80% {
            transform: translateX(3px);
        }
    }
}
