---
http_interactions:
- request:
    method: get
    uri: https://www.mararodriguez.es/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-litespeed-tag:
      - 864_HTTP.200
      link:
      - <https://mararodriguez.es/wp-json/>; rel="https://api.w.org/", <https://mararodriguez.es/wp-json/wp/v2/pages/500>;
        rel="alternate"; title="JSON"; type="application/json", <https://mararodriguez.es/>;
        rel=shortlink
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!doctype html>\n<html lang=\"es-ES\" class=\" custom-scrollbar-off\">\n<head>\n\t<meta
        charset=\"UTF-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1, viewport-fit=cover\">\n\t<link rel=\"profile\"
        href=\"http://gmpg.org/xfn/11\">\n\t<link rel=\"pingback\" href=\"https://mararodriguez.es/xmlrpc.php\">\n\t<meta
        name='robots' content='index, follow, max-image-preview:large, max-snippet:-1,
        max-video-preview:-1' />\n<link rel=\"alternate\" href=\"https://mararodriguez.es/\"
        hreflang=\"es\" />\n<link rel=\"alternate\" href=\"https://mararodriguez.es/en/home-works-en/\"
        hreflang=\"en\" />\n\n\t<!-- This site is optimized with the Yoast SEO plugin
        v19.0 - https://yoast.com/wordpress/plugins/seo/ -->\n\t<title>Mara Rodriguez
        Design - Branding, Packaging y Diseño Gráfico Asturias</title>\n\t<meta name=\"description\"
        content=\"Mara Rodriguez es un estudio de Diseño gráfico en Asturias especializado
        en Packaging y Branding. Estamos en Gijón y trabajamos con clientes nacionales
        e internacionales.\" />\n\t<link rel=\"canonical\" href=\"https://mararodriguez.es/\"
        />\n\t<meta property=\"og:locale\" content=\"es_ES\" />\n\t<meta property=\"og:locale:alternate\"
      [...]
