@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-primary-200;
  }
}
*/

@layer base {
    label {
        @apply block mb-2 text-sm font-medium text-zinc-900 dark:text-white;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'],
    input[type='number'],
    input[type='search'],
    input[type='tel'],
    input[type='url'],
    textarea {
        @apply rounded-md text-sm text-zinc-900 bg-zinc-50 border border-zinc-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-zinc-950 dark:border-zinc-800 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
    }

    textarea {
        @apply block p-2.5 w-full;
    }

    select {
        @apply w-auto bg-zinc-50 border-x-0 border-zinc-300 rounded-lg text-center text-zinc-900 text-sm focus:ring-primary-500 focus:border-primary-500 block dark:bg-zinc-800 dark:border-zinc-600 dark:placeholder-zinc-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500;
    }

    p {
        @apply text-base text-zinc-900 dark:text-zinc-100;
    }

    h1 {
        @apply text-4xl font-bold text-zinc-900 dark:text-white mb-4;
    }

    h2 {
        @apply text-3xl font-bold text-zinc-900 dark:text-white mb-3;
    }

    h3 {
        @apply text-2xl font-semibold text-zinc-900 dark:text-white mb-2;
    }

    h4 {
        @apply text-xl font-semibold text-zinc-900 dark:text-white mb-2;
    }

    h5 {
        @apply text-lg font-medium text-zinc-900 dark:text-white mb-1;
    }

    h6 {
        @apply text-base font-medium text-zinc-900 dark:text-white mb-1;
    }

    a {
        @apply text-primary-600 hover:text-primary-800 dark:text-primary-400 dark:hover:text-primary-300;
    }
}

@layer components {
    .btn {
        @apply font-medium rounded-lg text-sm px-5 py-2.5 text-center focus:ring-4 focus:outline-none;

        &.primary {
            @apply text-white bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800;
        }
    }

    .report {
        @apply prose w-auto mx-auto pb-4;

        strong {
            @apply text-zinc-900 dark:text-white;
        }

        .table,
        tr,
        th,
        td {
            @apply p-2 w-auto;
        }
    }

    .card {
        @apply bg-white shadow-lg rounded-lg p-6;
    }

    .centered-container {
        @apply px-8 lg:px-0 max-w-xl mx-auto space-y-4;
    }

    #error_explanation {
        @apply p-4 bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg;

        ul {
            @apply mt-2 space-y-1 list-disc list-inside;
        }
    }

    form {
        .field_with_errors {
            @apply animate-[shake_0.5s_ease-in-out] text-[1.2rem];

            input,
            textarea {
                @apply border-red-500 text-[1.2rem];
            }
        }

        * {
            @apply text-lg;
        }

        .btn {
            @apply text-lg;
        }
    }

    @keyframes shake {
        0%,
        100% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-5px);
        }
        40% {
            transform: translateX(5px);
        }
        60% {
            transform: translateX(-3px);
        }
        80% {
            transform: translateX(3px);
        }
    }
}
