<% content_for :title, "#{@report.query.titleize.truncate_words(4)}" %>

<div class="flex-1 min-h-screen">    
    <%= render @report.result %>   
</div>

<footer class="bg-gray-800 mt-8">
  <div class="py-4">
    <p class="text-center text-sm">
      <%= link_to "Create another report like this", clone_report_path(@report), class: "text-blue-400 hover:text-blue-300 font-medium" %>
    </p>
  </div>
</footer>

