<% content_for :title, "#{@report.status.titleize}: #{@report.query.titleize.truncate_words(4)}" %>

<div class="flex-1 min-h-screen pt-10">
  <div class="centered-container">    
    <%= render @report %> 
  </div>
</div>
