<% content_for :center do %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/sidebar' %>
    <main class="antialiased bg-zinc-50 dark:bg-zinc-950 pt-20 md:ml-64">        
    <div class="flex-1 min-h-screen">
        <%= yield %>
    </div>
    </main>  
<% end %>

<%= render template: "layouts/application" %>
